<!doctype html>
{% load trackback_tags %}
{% load media %}
<!-- Much of this was inspired by the HTML5 Boilerplate and HTML5 Reset projects -->

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html lang="en" class="no-js ie ie6">
<![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js ie ie7">
<![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie ie8">
<![endif]-->
<!--[if IE 9]>
<html lang="en" class="no-js ie ie9">
<![endif]-->
<!--[if gt IE 9]>
<html lang="en" class="no-js">
<![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="en" />
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<!-- Give the browser the title before we start making more requests -->
	<title>{% block title %}{% endblock %}Marco's Modern Life</title>
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	
	<!--  Mobile Viewport Fix
	    j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
	device-width : Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
	-->
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	
	<meta name="google-site-verification" content="" />
	
	<link rel="shortcut icon" href="{% media_url 'images/favicon.ico' %}" />
	<link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/touch-icon.png" />
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{% url latest_blog_feed %}" />
	<link rel="pingback" href="{% get_pingback_url %}" />
	
	{% include_media 'main.css' %}
	
	{% block extrastyle %}{% endblock %}
	
	{% block extrahead %}{% endblock %}
	
	<!--[if lt IE 9]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
	<![endif]-->
	
	<!-- Google Analytics Async Tracker -->
	<!-- http://mathiasbynens.be/notes/async-analytics-snippet -->
	<script type="text/javascript">
	//<![CDATA[
//		var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
//		(function(d, t) {
//			var g = d.createElement(t),
//			    s = d.getElementsByTagName(t)[0];
//			g.async = true;
//			g.src = '//www.google-analytics.com/ga.js';
//			s.parentNode.insertBefore(g, s);
//		})(document, 'script');
	//]]
	</script>
</head>
<body>
	<div id="wrapper">
		<header>
		    <a href="{% url frontpage %}" class="logo">
		        <img src="{% media_url 'images/logo.png' %}" />
	        </a>
	        <span class="ir">Marco's Modern Life</span>
			{% comment %}
			<div id="user-account">
				{% if user.is_authenticated %}
				<a href="/profiles/{{ user.username }}/">{{ user.username }}</a>
				<a href="/admin/">| Admin</a>
				<a href="/accounts/logout/">| Logout</a>
				{% else %}
				<a href="/accounts/login/">Login</a>
				<a href="/accounts/register/">| Register</a>
				{% endif %}
			</div>
			<div id="searchbar">
				<input type="text" size="25" />
				<input type="submit" value="Search" />
			</div>
			{% endcomment %}
			<nav>
				<ul>
					<li>
					    <a id="nav-blog" href="{% url blog_list %}">
			                <img src="{% media_url 'images/blog-grey.png' %}" />
					        <span class="ir">Blog</span>
					    </a>
				    </li>
					<li>
					    <a id="nav-portfolio" href="/portfolio/">
			                <img src="{% media_url 'images/portfolio-grey.png' %}" />
					        <span class="ir">Portfolio</span>
					    </a>
				    </li>
					<li class="spacer-right">
					    <a id="nav-activity" href="/activity/">
			                <img src="{% media_url 'images/activity-grey.png' %}" />
					        <span class="ir">Activity</span>
					    </a>
				    </li>
					<li>
					    <a id="nav-resume" href="/resume/">
			                <img src="{% media_url 'images/resume-grey.png' %}" />
					        <span class="ir">Resume</span>
					    </a>
				    </li>
					<li>
					    <a id="nav-contact" href="/contact/">
			                <img src="{% media_url 'images/contact-grey.png' %}" />
					        <span class="ir">Contact</span>
					    </a>
				    </li>
					<li>
					    <a id="nav-about" href="/about/">
			                <img src="{% media_url 'images/about-me-grey.png' %}" />
					        <span class="ir">About</span>
					    </a>
				    </li>
				</ul>
			</nav>
		</header>
		<section id="content">
		    <section id="breadcrumbs">
	            {% block breadcrumbs %}{% endblock %}
	        </section>
		    {% block content %}
		        {% block main %}{% endblock %}
		    {% endblock %}
		    <div class="clearfix"></div>
		</section> <!-- end of #content -->
	    <footer>
		    <hr/>
		    <small>
		        &copy; Copyright Marco's Modern Life 2010. All Rights Reserved.
		        <a href="http://github.com/Pewpewarrows/MyModernLife">This Site is Open-Source</a>
		    </small>
		    <div class="right">
		        <small>
				    <a href="{% url frontpage %}">Home</a>
		            |
		            <a href="{% url blog_list %}">Blog</a>
		            |
		            <a href="/portfolio/">Portfolio</a>
		            |
		            <a href="/activity/">Activity</a>
		            |
		            <a href="/resume/">Resume</a>
		            |
		            <a href="/contact/">Contact</a>
		            |
		            <a href="/about/">About Me</a>
		        </small>
		    </div>
	    </footer> <!-- end of #footer -->
	</div> <!-- end of #wrapper -->
	
	<noscript></noscript>

	<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"><\/script>')</script>
	
	{% include_media 'main.js' %}
	
	<!--[if lt IE 7 ]>
	<script src="{{ MEDIA_URL }}js/dd_belatedpng.js"></script>
	<![endif]-->
	
	{% block extrascript %}{% endblock %}
</body>
</html>
