{% extends 'mymodernlife.html' %}

{% load webdesign %}

{% block data-controller %}blog{% endblock %}

{% block breadcrumbs %}<a href="{% url frontpage %}">Home</a> &raquo; <a href="{% url blog_list %}">Blog</a> {% endblock %}

{% block core %}
    {% include 'sidebar.inc.html' %}
    <section id="blog">
        <section id="title">
            <h1>{% block h1 %}Page Title{% endblock %}</h1>
        </section>
        <section id="content">
            {% block content %}{% lorem %}{% endblock %}
        </section> <!-- end of #content -->
    </section> <!-- end of #blog -->
{% endblock %}
