{% load taggit_extras %}
{% load media %}

<section id="sidebar">
    <aside id="about" class="widget">
        <h2>Hello, There!</h2>
        <hr/>
        <p>
            I'm <strong><a href="/about/">Marco Chomut</a></strong>, a computer scientist extraordinaire living
            in the greater Washington, DC metro area.
        </p>
        <p>
            I specialize in web and mobile development, and love working
            with <strong><a href="http://djangoproject.com">Django</a></strong>, 
            <strong><a href="http://jquery.com">jQuery</a></strong>, 
            and <strong><a href="http://android.com">Android</a></strong>.
        </p>
    </aside>
    <aside id="subscribe" class="widget">
        <h2>Subscribe</h2>
        <hr/>
        <img src="{% media_url 'images/rss.png' %}"/>
        <img src="{% media_url 'images/twitter.png' %}"/>
        <img src="{% media_url 'images/e-mail.png' %}"/>
    </aside>
    <aside id="latest-posts" class="widget">
        <h2>Latest Posts</h2>
        <hr/>
        <ul class="blog-post-list">
            <li>Foo</li>
            <li>Bar</li>
            <li>Baz</li>
        </ul>
    </aside>
    <aside id="search" class="widget">
        <h2>Search</h2>
        <hr/>
		<input type="text" size="22" />
		<input type="submit" value="Search" />
    </aside>
    <aside id="popular-posts" class="widget">
        <h2>Popular Posts</h2>
        <hr/>
        <ul class="blog-post-list">
            <li>Foo</li>
            <li>Bar</li>
            <li>Baz</li>
        </ul>
    </aside>
    <aside id="site-stats" class="widget">
        <h2>Site Statistics</h2>
        <hr/>
    </aside>
    <aside id="featured-posts" class="widget">
        <h2>Featured Posts</h2>
        <hr/>
        <ul class="blog-post-list">
            <li>Foo</li>
            <li>Bar</li>
            <li>Baz</li>
        </ul>
    </aside>
    <aside id="categories" class="widget">
        <h2>Categories</h2>
        <hr/>
        {% get_taglist as tags for 'blog.post' %}
	    <ul>
        {% for tag in tags %}
        <li><a href="{% url view_tag tag.slug %}">{{ tag }} ({{ tag.num_times }})</a></li>
        {% empty %}
        <li>There don't appear to be any tags yet!</li>
        {% endfor %}
        </ul>
    </aside>
    <aside id="browse-posts" class="widget">
        <h2>Browse Posts</h2>
        <hr/>
        <select></select>
        <br/>
        <select></select>
        <br/>
        <select></select>
        <br/>
        <input type="submit" value="Go"/>
    </aside>
</section> <!-- end of #sidebar -->
