{% extends "base.html" %}

{% block title %}{{ blog.title }} | {% endblock %}

{% block h1 %}{{ blog.title }}{% endblock %}

{% block content %}

    {% if user.username == blog.owner.username %}
    <form action="{% url delete_blog blog.slug %}" method="post">
	    <input type="submit" id="delete-blog" value="Delete"/>
	</form>
	<br/>
	{% endif %}

	<ul>
    {% for post in posts %}
    <li><a href="{{ post.get_absolute_url }}">{{ post }}</a></li>
    {% empty %}
    <li>There don't appear to be any posts yet!</li>
    {% endfor %}
    </ul>
    
    <a href="{% url create_post blog.slug %}">Create a New Post</a>
	<br/>
	<a href="{% url blog_list %}">View other blogs</a>

{% endblock %}

