{% extends "base.html" %}

{% load rich_text %}

{% block title %}{{ post.title }} | {% endblock %}

{% block h1 %}<a href="{{ post.get_absolute_url }}">{{ post }}</a>{% endblock %}

{% block content %}

    By: <a href="/profile/{{ post.author.username }}/">{{ post.author.username }}</a>
    <br/>
    Posted On: {{ post.created|date:'F j, Y, g:i a' }}
    {% if user.username == post.author.username %}
    <br/>
	<a href="{% url edit_post post.created.year post.get_formatted_month post.slug %}">Edit this post</a>
	<br/>
    <form action="{% url delete_post post.created.year post.get_formatted_month post.slug %}" method="post">
	    <input type="submit" id="delete-post" value="Delete"/>
	</form>
	{% endif %}
    <br/>

	<div id="post-content">{{ post.content_html|sanitize|safe }}</div>
	
	<br/>
	<a href="{{ post.blog.get_absolute_url }}">View more posts in '{{ post.blog }}'</a>

{% endblock %}
